.nav a:hover {
  background-color: teal;
  color: white;
}

/* Bootstrap compliant Footer */
.footer {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  line-height: 60px;
}

h2,
h3,
h4,
h5,
hr {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/what-the-hex.png);
  margin: 0;
}
